*{
    color: darkgreen;
    /* padding: 50px; */
}

p{
    color: violet;
}

#kasia{
    background-color: gray;
}

div.lorak{
    color: blue;
}

ul a{
    background-color: hotpink;
}

a > span{
    color: yellow;
}

li#pierwszy ~ li {
    background-color: yellow;
}

li#pierwszy + li{
    background-color: tomato;
}