.outer{
    width: 604px;
    height: 604px;
    /* background-color:aqua; */
    position: relative;
    margin: auto;
    margin-top: 50px;
  }

  .inner{
      position: relative;
      width: 200px;
      height: 200px;
      display: inline-block;
      float: left;            
  }

  .circle{
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: 25%;
    left: 25%;
    border: 1px solid black;              
}

    #one{
        background-color: rgb(254,0,0);
    }
        #c1{
            background-color: rgb(255,192,203);
        }
    #two{
        left: 2px;
        background-color: rgb(0,0,254);
    }
        #c2{
            background-color: rgb(128,128,128);
        }
    #three{
        left: 4px;
        background-color: rgb(0,128,1);
    }
        #c3{
            background-color: rgb(129,0,127);
        }
    #four{
        top: 2px;
        background-color: rgb(255,255,1);
    }
        #c4{
            background-color: rgb(0,128,1);
        }
    #five{
        left: 2px;
        top: 2px;
        background-color: rgb(0,0,0);
    }
        #c5{
            background-color: rgb(254,0,0);
        }
    #six{
        left: 4px;
        top: 2px;
        background-color: rgb(254,165,0);
    }
        #c6{
            background-color: rgb(0,0,254);
        }
    #seven{
        top: 4px;
        background-color: rgb(129,0,127);
    }
        #c7{
            background-color: rgb(254,165,0);
        }
    #eight{
        left: 2px;
        top: 4px;
        background-color: rgb(128,128,128);
    }
        #c8{
            background-color: rgb(255,255,1);
        }
    #nine{
        left: 4px;
        top: 4px;
        background-color: rgb(255,192,203);
    }
        #c9{
            background-color: rgb(0,0,0);
        }