form{
    background-color: #213b50;
    padding: 20px;
    color: #fff;
    width: 600px;
}

form input, form select{
    /* margin-bottom: 0px 5px 10px 100px; */
    /* border-width: 1px;
    border-color: white;
    border-style: solid */
    /* border: 1px solid white; */
    margin-bottom: 10px;
}

form label{
    display: block;
    margin-bottom: 5px;
}

form select, form input[type='text'], form input[type='tel'], form input[type='email'], form textarea{
    width: 300px;
    background-color: #2b4a64;
    color: white;
    height: 25px;
    border: none;
}

form select:focus input:focus, form textarea:focus{
    background-color: #4E708;
    border: 1px solid white;
    outline: none;
}

form input[type='checkbox']{
    float: lift;
}

form input[type='submit']{
    background-color: darkseagreen;
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: 800;
    cursor: pointer;
}