img{
    height: 300px;
    margin-bottom: 150px;
    transition: all 1s;

}

.rotate img:hover{
    transform: rotate(45deg);
}

.translate img:hover{
    transform: translate(300px, 150px);
}

.scale img:hover{
    transform: scale(0.5);
    margin-left: 150px;
}

.animation img{
    animation-name: testowa;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes testowa{
    0%, 100%{
        /* height: 350px; */
        margin-left: 250px;
        top: 150px;
    }
    30%{
        /* height: 100px; */
        margin-left: 350px;
        top: 250px;
        transform: rotate(270deg);
    }
    60%{
        /* height: 250px; */
        margin-left: 120px;
        top: 80px;

    }
}