.container{
    border: 1px dotted olive;
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    /* align-content: flex-end; */
    /* align-content: stretch; */
    /* align-content: space-between; */
    align-content: space-around;



}

.flex-item{
    background-color: orange;
    color: white;
    border: olivedrab 1px solid;
    padding: 10px;
    font-family: arial Arial, Helvetica, sans-serif;
    max-height: 150px;
    flex-basis: 27%;
    overflow: hidden;
}

.flex-item:nth-child(2n-1){
    background-color: orangered;
    max-height: 100px;
}