*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 40px;
}

@media(min-width: 0px) and (max-width: 768px){
.outer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header1{
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(255, 69, 0);
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 0;
}

.asideL{
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(34, 139, 34);
    height: 50vh;
    flex-basis: 100%;
    order: 2;
}

.section1{
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
    background-color: rgb(5, 198, 255);
    height: 50vh;
    flex-basis: 100%;
    order: 1;
    
}

.asideR{
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(255, 182, 193);
    height: 50vh;
    flex-basis: 100%;
    order: 3;
}

.footer1{
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(147, 112, 219);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 4;
}
}