@import 'zmienne';

body{
    background-color: $bg-color;
    color: $main-color;
    font-size: $font-size;
}

@mixin linki-nav{
    color: $bg-color;
    background-color: #000;
    text-transform: uppercase;
}

p{
    @include linki-nav;
    font-family: sans-serif;
}

nav{
    ul{
        margin: $font-size;
        padding: 0%;
        list-style: none;
        li{
            display: inline-block;
            background-color: #ffffff;
            a{
                @include linki-nav;
            }

        }
    }
}