.container{
    border: 1px dotted olive;
    display: flex;
    /* flex-direction: row; */

    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    flex-direction: column-reverse;
}

.flex-item{
    background-color: orange;
    color: white;
    border: olivedrab 1px solid;
    padding: 10px;
    font-family: arial Arial, Helvetica, sans-serif;
    flex-basis: 20%;
}

.flex-item:nth-child(2n-1){
    background-color: orangered;
    flex-basis: 15%;
}

