*{
    box-sizing: border-box;    
}

body{
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;    
}

@media(min-width: 1170px){
    .header1{
        height: 100vh;
        background-image: url('../img/man-1.jpg');
        background-size: cover;
        background-position: center;
        text-transform: uppercase;
        color: white;
        padding-left: 5em;    
        display: flex;
        align-items: center;
    }
   
    .text2{
        display: none;
    }

    h1{    
        font-size: 5em;
    }

    h2{
        font-size: 3em;
    }
}

@media(min-width: 992px) and (max-width: 1170px){
    .header1{
        height: 70vh;
        background-image: url('../img/man-2.jpg');
        background-size: cover;
        background-position: center;
        text-transform: uppercase;
        color: white;
        padding-top: 10em;
        padding-right: 5em;
        display: flex;
        justify-content: flex-end;        
        align-items: flex-start;
    }

    .text2{
        display: none;
    }

    h1{    
        font-size: 3em;
    }

    h2{
        font-size: 2em;
    }
}

@media(min-width: 0px) and (max-width: 992px){
    .header1{
        height: 50vh;
        background-image: url('../img/man-1.jpg');
        background-size: cover;
        background-position: center;
                
    }

    .text1{
        display: none;
    }

    .text2{
        color: black;
        text-transform: uppercase;
        text-align: center;
    }

    h1{    
        font-size: 4em;        
    }

    h2{
        font-size: 2.5em;        
    }
}